# Environment & secrets
.env

# Django cache
tmp/
*.djcache
tmp/django_cache/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Django
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
